#startGame{
    padding: 10px;
    font-size: 16px;
    width: 400px;
    margin-top: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    background-color: black;
  }

  #startGame:hover{
    background-color: blue;
  }
